body {
font-family: sans-serif;
margin: 0;
padding: 0;
background-color: #dfe9f1;
}



h1 {
text-align: center;
margin: 0 0 20px 0;
}

form {
width: 500px;
margin: 0 auto;
}



input, textarea {
width: 100%;
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 3px;
}





textarea {
  height: 140px;
}



button {
width: 105%;
padding: 10px;

  margin-bottom: 10px;

  background-color: #000;

  color: #fff;

  border: none;

  border-radius: 3px;

  cursor: pointer;

}



span {

  font-size: smaller;

  color: #1a1919;

}



svg {

  width: 100%;

  height: auto;

  position: fixed;

  top: 0;

  left: 0;

  z-index: -1;

}